<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Earth Maker</title>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'/>

<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/graphic.css') }}" />
<link href="{{ url_for('static',filename='css/hover-min.css') }}" rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all"/>
<link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='js/flexslider.css') }}" />

<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/jquery-1.8.3.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/jquery-ui-1.10.4.custom.min.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/jquery.flexslider.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/custom.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/menu.js')}}"></script>
<script type="text/javascript" language="javascript" src="{{url_for('static', filename='js/custom_menu.js')}}"></script>

</head>

<body>
<!--start section-1-->
<div class="section-1">
	<div class="header-outer">
    	<!--start header-->
    	<div class="header">
        	<a class="logo" href="#"><img src="{{url_for('static',filename = 'images/spaceship.png')}}" alt="logo"/></a>
            <!--===:start mobile-nav:===-->
            <div class="mobile-menu-holder">
                <span class="mobile-menu"> </span>
                <div class="mobile-nav" style="display:none">
                    <ul class="nav-custom">
                    	<li><a href="#">Home</a></li>
                        <li><a href="#">Game:MARS Explorerer</a></li>
                        <li><a href="#">Explorere</a></li>
                        <li><a href="#">Extensions</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">Contact us</a></li>
                     </ul>
                </div>
            </div>
            <!--===:end mobile-nav===-->  
            <ul class="menu">
            	<li><a href="#" class="hvr-underline-from-center">Home</a></li>
                <li><a href="#" class="hvr-underline-from-center">MARS EXPLORER</a></li>
                <li><a href="#" class="hvr-underline-from-center">Marsian</a></li>
                <li><a href="#" class="hvr-underline-from-center">Wanna Go Mars?</a></li>
                <li><a href="#" class="hvr-underline-from-center">Blogs and Science Fiction</a></li>
                <li><a href="#" class="hvr-underline-from-center">Contact us</a></li>
            </ul>
            <ul class="social-icons">
            	<li><a href="#"><img src="{{url_for('static',filename = 'images/facebook.png')}}" alt="facebook"/></a></li>
                <li><a href="#"><img src="{{url_for('static',filename = 'images/twitter.png')}}" alt="twitter"/></a></li>
                <li><a href="#"><img src="{{url_for('static',filename = 'images/skype.png')}}" alt="skype"/></a></li>
                <li><a href="#"><img src="{{url_for('static',filename = 'images/instagram.png')}}" alt="instagram"/></a></li>
            </ul>
        </div>
        <!--end header-->
        
    </div>
    <!--start banner-->
    
    <div class="flexslider">
    	<ul class="slides">
        	<li>
    			<img src="{{url_for('static',filename = 'images/banner.png')}}" alt="banner"/>
    			<div class="banner-area">

    			</div>
             </li>
             <li>
    			<img src="{{url_for('static',filename = 'images/earth.png')}}" alt="banner"/>
    			<div class="banner-area">
    		
        			
    			</div>
             </li>
             
    		<li>
    			<img src="{{url_for('static',filename = 'images/blog.png')}}" alt="banner"/>
    			<div class="banner-area">

    			</div>
             </li>
         </ul>
    <!--end banner-->
    </div>
    <a class="scroll-bar" href="#"><img src="{{url_for('static',filename = 'images/scroll-bar.png')}}" alt=""/></a>
</div>
<!--end section-1-->
<!--start section-2-->
<div class="section-2">
	<div class="about-agency">
    	<strong>W</strong>
        <h4>PAST PRESENT FUTURE in Earth</h4>
        <ul class="feature-area">
        	<li><a href="#"><img src="{{url_for('static',filename = 'images/feature-bg-1.png')}}" alt=""/></a><div><h6>Past</h6><p>From the begingine earth since big bang</p></div></li>
            <li><a href="#"><img src="{{url_for('static',filename = 'images/feature-bg-1.png')}}" alt=""/></a><div><h6>Present</h6><p>Trying to make earth sustaibe</p></div></li>
            <li><a href="#"><img src="{{url_for('static',filename = 'images/feature-bg-2.png')}}" alt=""/></a><div><h6>Future</h6><p>Make earth great</p></div></li>
            
        </ul>
    </div>
</div>
<!--end section-2-->
<!--start section-3-->
<div class="section-3">
	<ul class="news-area-1">
    	<li>
        	<div>
                <h6>Earth Maker</h6>
                <p>This game is all about to make sustaibable Earth.This game developed from Nasa Earth history data and cosmic calendar.In this game if you make useful decision you'll build sustainable earth and if you are not then your game will be over.It also give you other challenge to become hero of the earth</p>
                    <a href="#"><b style=" text-align: center;"><button>TO PLAY</button></b></a>
            </div>
        </li>
        <li>
        	<img src="{{url_for('static',filename = 'images/game.png')}}" alt=""/>
        </li>
    </ul>
    <ul class="news-area-2">
        <li>
        	<div>

                <h6><b>Earth Hero</b></h6>
                <p>It's is a real life challenge from game.With the socialization era with this application developed by nasa earthview data and terra satelite and other resource, we can easily make our earth susatainable and become hero of the earth </p>
                <a href="gallery"><b>Go</b></a>
            </div>
        </li>
        <li>
        	<img src="{{url_for('static',filename = 'images/earth2.png')}}" alt=""/>
        </li>
    </ul>
</div>
<!--end section-3-->
<!--start section-4-->
<div class="section-4">
	<div class="blog-area">
    	<strong>B</strong>
        <h4>Earth Hero</h4>
        <span>Here are the rewared Earth recongnized people overview<a href="#">click</a></span>
        <ul class="blog-item">
        	<li>
            	<img src="{{url_for('static',filename = 'images/member-3.png')}}" alt="" />
                <div>
                	<h6>Earth Hero(USA)</h6>
                    <p>USA regional Earth hero of the week</p>
                </div>
            </li>
            <li>
            	<img src="{{url_for('static',filename = 'images/member-1.png')}}" alt="" />
                <div>
                	<h6>Earth Hero(World)</h6>
                    <p>Worlds Most point earned earth hero</p>
                </div>
            </li>
            <li>
            	<img src="{{url_for('static',filename = 'images/member-4.png')}}" alt="" />
                <div>
                	<h6>Earth Hero(Netherland)</h6>
                    <p>Done a fabolous job earned many points!!</p>
                </div>
            </li>
            <li>
            	<img src="{{url_for('static',filename = 'images/lturkey.png')}}" alt="" />
                <div>
                	<h6>Earth Hero(Giant)</h6>
                    <p>Best comapany which is helpful for earth and become Hero</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--end section-4-->
<!--start section-5-->
<div class="section-5">
	<ul class="quick-area">
    	<li><img src="{{url_for('static',filename = 'images/quick.png')}}" alt=""/><p>“Exploration is in our nature. We began as wanderers, and we are wanderers still. We have lingered long enough on the shores of the cosmic ocean. We are ready at last to set sail for the stars.” - <b>Carl sagan</b></p>
        </li>
        <li><img src="{{url_for('static',filename = 'images/quick.png')}}" alt=""/><p>“[T]he prediction I can make with the highest confidence is that the most amazing discoveries will be ones we are not today wise enough to foresee.”-<b>Carl Sagan</b> </p>
        </li>
    </ul>
</div>
<!--end section-5-->
<!--start section-6--
<div class="section-6">
	<div class="key-feature-area">
    	<div class="feature-left">
        	<h6>Akita Inu Dog</h6>
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            <ul class="key-feature">
            	<li class="style-1"><a href="#" class="hvr-sweep-to-right">Fully Responsive Design</a></li>
                <li class="style-2"><a href="#" class="hvr-sweep-to-right">High Quality Code</a></li>
                <li class="style-3"><a href="#" class="hvr-sweep-to-right">Different Headers & Layout</a></li>
            </ul>
        </div>
        <div class="feature-right">
        	<img src="images/mobile.png" alt=""/>
        </div>
    </div>
</div>
<!--end section-6-->
<!--start section-7
<div class="section-7">
	<div class="team-area">
    	<strong>T</strong>
    	<h4>OUR TEAM</h4>
        <span> sales long tail influencer pitch release niche market.</span>
        <ul class="team-member">
        	<li><img src="images/member-1.png" alt=""/><div><b>JOHN SNOW</b><span>CEO</span></div></li>
            <li><img src="images/member-2.png" alt=""/><div><b>LADY SANSA</b><span>WebDesigner</span></div></li>
            <li><img src="images/member-3.png" alt=""/><div><b>DAVID SMITH</b><span>Photographer</span></div></li>
            <li><img src="images/member-4.png" alt=""/><div><b>LADY SANSA</b><span>Photographer</span></div></li>
        </ul>
    </div>
</div>
<!--end section-7-->
<!--start section-8-->
<div class="section-8">
	<div class="contact-area">
    	<strong>C</strong>
        <h4>We'd love to hear about your Feelings after playing real time and virtual conected Game.</h4>
        <div class="form-panel">
            <input class="style-4" type="text" placeholder="Name"/>
            <input class="style-4" type="text" placeholder="Email"/>
            <input class="style-5" type="text" placeholder="Phone"/>
            <textarea class="style-6">lets start</textarea>
            <a href="#" class="hvr-wobble-vertical"><input class="style-7" type="submit" value="Submit"/></a>
        </div>
    </div>
</div>
<!--end section-8-->
<!--start section-9--
<div class="section-9">
	<img src="images/map.png" alt=""/>
</div>
<!--end section-9-->
<!--start section-10-->
<div class="section-10">
	<div class="footer">
    	<p>Made By Team Kuhok</p>
    </div>
</div>
<!--end section-10-->
</body>
</html>
